# Dependencies
node_modules/
*/node_modules/

# Environment variables
.env
*/.env

# Build files
*/build/
*/dist/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db